#form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  margin-bottom: 20px;
}

#form-container {
  input {
    display: none;
  }

  #form-title{
    margin: 5px;
    padding: 10px;
  }
}